body {
    background: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #7A6969;
}

a:active,
a:focus {
    outline: expression(hideFocus='true');
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.clr {
    clear: both;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 150%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 11px;
}

.clear {
    clear: both;
}

/* ======================== header ======================== */
.header {
    width: 100%;
    margin-bottom: 15px;
}

.logo {
    margin-top: 10px;
}

.logo a {
    display: block;
}

.header-text p {
    color: #635240;
    margin: 0 0 10px 0;
}

.header-text a {
    color: #32AAD6;
    text-decoration: underline;
}

.header-text a:hover {
    text-decoration: none;
}

.search-form {
    text-align: right;
}

.search-form .form-control {
    max-width: 200px;
}

.search-form .btn {
    border: none;
    background: #3A2F23;
    border-radius: 3px;
    color: #fff;
}

.search-form .btn:hover {
    background: #9B8F83;
}

.form-control::-webkit-input-placeholder {
    color: #A19A91;
    text-overflow: ellipsis;
}

.form-control::-moz-placeholder {
    color: #A19A91;
    text-overflow: ellipsis;
}

.form-control:-moz-placeholder {
    color: #A19A91;
    text-overflow: ellipsis;
}

.form-control:-ms-input-placeholder {
    color: #A19A91;
    text-overflow: ellipsis;
}

.form-control:focus::-webkit-input-placeholder {
    color: transparent
}

.form-control:focus::-moz-placeholder {
    color: transparent
}

.form-control:focus:-moz-placeholder {
    color: transparent
}

.form-control:focus:-ms-input-placeholder {
    color: transparent
}

/* ======================== navigation ======================== */

.navigation {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    background: #F1EEEA;
    position: relative;
    z-index: 1;
}

.navigation li {
    line-height: 70px;
    position: relative;
    flex-grow: 1;
}

.navigation li:hover,
.navigation li.active {
    background: #32AAD6;
}

.navigation li:hover a,
.navigation li.active a {
    color: #fff;
}

.navigation a {
    display: block;
    line-height: 70px;
    text-align: center;
    color: #917758;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a:hover {
    background: #32AAD6;
    color: #FFF;
    text-decoration: none;
}

.navigation ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: auto;
    display: none;
    list-style: none;
    padding: 0;
    background: #2296C1;
    border-bottom: 1px solid #32AAD6;
}

.navigation ul li {
    line-height: 25px;
    width: 100%;
}

.navigation li:hover ul {
    display: block;
}

.navigation ul a {
    padding: 3px 15px;
    line-height: 25px;
    text-align: left;
    color: #FFF;
    text-transform: none;
    white-space: nowrap;
}

.navigation ul a:hover {
    color: #917758;
    background: #fff;
}

/* ======================== slide show ======================== */

.welcome-image {
    height: 280px;
}

.big-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 280px;
    padding-top: 15px;
    padding-right: 15px;
    background-image: url(../img/slide-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.big-image h4 {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: uppercase;
    text-shadow: #333 1px 1px;
    padding: 5px 15px;
    background: rgba(50, 170, 214, 0.6);
}

/* ======================== page ======================== */
.page {
    background: url(../img/c2-bg.jpg) repeat;
    margin-top: 30px;
}

.page {
    padding: 25px 0;
}

.page a {
    text-decoration: underline;
    color: #32A9D6;
}

.page a:hover {
    text-decoration: none;
}

.pagetitle {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 0 1px #666666;
    line-height: 150%;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 20px 0;
    text-align: center;
}

.pagetitle span {
    background: #32AAD6;
    letter-spacing: 0.2px;
    padding: 5px 10px;
}

/* ----------------------- */


.pageContent p strong {
    color: #828282;
}

.pageContent ul {
    list-style: disc;
    padding: 0 0 0 30px;
}

.pageContent li {
    color: #828282;
    line-height: 150%;
    margin: 5px 0;
}

.pageContent ol {
    list-style: decimal;
    padding: 0 0 0 30px;
}

.pageContent p.justifyfull {
    text-align: justify;
}

.pageContent table {
    border: 1px dotted #999;
    border-collapse: collapse;
    margin: 5px auto;
    width: auto;
}

.pageContent table tr {
    border: 1px dotted #999;
    border-collapse: collapse;
}

.pageContent table tr td {
    padding: 5px 10px;
    border: 1px dotted #999;
    vertical-align: middle;
}

.pageContent table.withoutBorder {
    border: none;
}

.pageContent table.withoutBorder tr {
    border: none;
}

.pageContent table.withoutBorder tr td {
    border: none;
}

.border {
    border: 1px solid #919191;
    width: 540px;
    margin: 5px auto;
    padding: 10px;
}

.pageContent dl {
    color: #828282;
    line-height: 15px;
    margin: 10px 0;
}

.pageContent dd {
    padding: 0 0 0 30px;
}

ul.pageList {
    width: 100%;
    list-style: none;
    padding: 0;
}

ul.pageList li {
    line-height: 180%;
    margin: 5px 0;
    display: block;
}

table.justifyleft {
    margin-left: 0;
}

.pageContent ol.pagePub li a {
    color: #828282;
}


/* ============ news block ============ */
.newsBlock {
    width: 400px;
    float: left;
    margin: 20px 0 40px 0;
}

.newsBlock h3 {
    font-size: 18px;
    padding: 0 0 0 5px;
    font-weight: normal;
    color: #3A2F23;
    font-family: 'Roboto Condensed', sans-serif;
}

.item {
    width: 390px;
    margin: 10px 0 5px 0;
    background: #f4f2f0;
    float: left;
    padding: 5px 5px 20px 5px;
    position: relative;
}

.item img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 3px;
    border: 1px solid #EDE7E2;
    background: #F2DFBA;
}

.item p {
    padding-right: 5px;
    color: #917758;
}

.item span.date {
    font-size: 11px;
    color: #2889AC;
    margin: -3px 0 0 0;
    display: block;
    padding: 0 0 5px 0;
}

.item a.nTitle {
    color: #32A9D6;
    text-decoration: underline;
    display: block;
    margin: 0 0 3px 0;
}

.item a.nTitle:hover {
    text-decoration: none;
}

a.readAll {
    color: #32A9D6;
    text-decoration: none;
    font-size: 11px;
    position: absolute;
    border-bottom: 1px dotted #32A9D6;
    bottom: 4px;
    right: 5px;
    margin: 5px 0 0 0;
}

a.readAll:hover {
    text-decoration: none;
    border-bottom: none;
    bottom: 5px;
}

/* -------------------------------------- */

.shortNews {
    background: #F4F2F0;
    margin: 5px 0 15px 0;
    padding: 10px;
}

.shortNews__title {
    line-height: 1.7;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    letter-spacing: 0.3px;
}

.shortNews p {
    margin-bottom: 10px;
}

.shortNews img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 3px;
    background: #F2DFBA;
}

.shortNews small {
    font-size: 11px;
    color: #A38C8C;
}

.pagination {
    margin: 15px 0;
    justify-content: center;
}

.page-item .page-link {
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #32AAD6;
    border-color: #32AAD6;
}

/* ============ advertise ============ */
.siteOffers {
    width: 530px;
    margin: 20px 0 40px 0;
    float: right;
}

.siteOffers h3 {
    font-size: 18px;
    font-weight: normal;
    color: #3A2F23;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
}

.offers {
    width: 100%;
    float: right;
    margin: 10px 0 20px 0;
}

.offers p {
    margin: 5px 0;
    color: #917758;
}

.offers p.top {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    color: #32A9D6;
}

.offers a {
    color: #32A9D6;
    text-decoration: underline;
}

.offers a:hover {
    text-decoration: none;
}

.offers a.read {
    float: right;
    padding: 1px;
    color: #32A9D6;
    text-decoration: none;
    font-size: 11px;
    border-bottom: 1px dotted #32A9D6;
}

.offers a.read:hover {
    text-decoration: none;
    border: none;
    padding: 1px 1px 2px 1px;
}

/* ======================== footer ======================== */
.footer {
    background: #3A2F23;
    padding: 30px 0;
}

.footerLeftBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerLeftBlock a {
    color: #3A2F23;
    background: #9B8F83;
    text-shadow: 0 1px #999999;
    font-size: 16px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    display: block;
}

.footerLeftBlock a:hover {
    text-decoration: none;
    color: #fff;
}

.footerLeftBlock p {
    color: #A19A91;
    margin: 0;
}

.footerRightBlock {
    text-align: right;
}

.footerRightBlock p {
    color: #A19A91;
    margin-bottom: 5px;
}

.footerRightBlock a {
    color: #32AAD6;
    padding: 10px 0;
    font-size: 13px;
    text-decoration: underline;
}

.footerRightBlock a:hover {
    text-decoration: none;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.footer-nav a {
    color: #917758;
    text-decoration: underline;
}

.footer-nav a:hover {
    text-decoration: none;
    color: #fff;
}


.feedback {
    width: 465px;
    margin: 10px auto;
}

.feedback form {
    width: 100%;
    float: left;
    margin: 0 0 15px 0;
}

.feedback form label {
    width: 100%;
    line-height: 30px;
    float: left;
    margin: 5px 0;
}

.feedback form label span {
    float: left;
}

.feedback form label input {
    float: right;
    width: 280px;
    height: 26px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #F9F9F9;
}

.feedback form label input:focus {
    background: #fff;
}

.feedback form label textarea {
    float: right;
    width: 280px;
    height: 90px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #F9F9F9;
}

.feedback form label textarea:focus {
    background: #fff;
}

.feedback form p {
    width: 100%;
    float: left;
}

.feedback form p img {
    float: left;
    margin: 10px 0 5px 170px;
}

.feedback form input[type=submit] {
    padding: 0 15px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #3A2F23;
    float: right;
    color: #fff;
    margin: 15px 0;
}

.feedback form input[type=submit]:hover {
    background: #9B8F83;
}

.shortPartner {
    width: 180px;
    height: 180px;
    float: left;
    margin: 10px 30px 15px 30px;
}

.shortPartner:nth-child(4n+1) {
    margin: 10px 0 15px 30px;
}

.shortPartner a.partLogo {
    width: 178px;
    height: 128px;
    display: block;
    float: left;
    text-align: center;
}

.shortPartner a.partLogo img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ccc;
    display: table-cell;
    vertical-align: middle;
}

.shortPartner p {
    width: 100%;
    margin: 5px 0;
    text-align: center;
    float: left;
}

.paging1 {
    line-height: 30px;
    margin: 5px 0 15px 0;
}

.ajaxSearch_result {
    margin: 5px 0;
}

#accordion {
    width: 100%;
    float: left;
    margin: 5px 0 25px 0;
}

.ui-accordion-content p {
    position: relative;
    margin: 5px 0;
}