// Aside

.aside {
    display: flex;

    &-item {
        flex: 0 1 50%;

        &:first-child {
            margin-right: 15px;
        }

        &:last-child {
            margin-left: 15px;
        }

        &__title {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1.57em;
            font-weight: 400;
            color: $text-dark;
            padding-left: 5px;
            margin-bottom: 10px;
        }
    }
}

// News & Offers

.news {
    margin-top: 15px;
    background: $bg-news;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--offer {
        background-color: rgba($link-color, 0.03);
    }

    &__date {
        font-size: 0.857em;
        color: $text-light;
        margin: 0 0 10px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__short {
        margin: 0 0 10px;
    }

    /*&__more {
        align-self: flex-end;
        text-decoration: none;
        font-size: 0.857em;
        border-bottom: 1px dotted $link-color;

        &:hover {
            text-decoration: none;
            border-bottom-color: transparent;
        }
    }*/
}

@media (max-width: 767px) {
    .aside {
        flex-direction: column;

        &-item {
            flex-basis: 100%;
            margin-bottom: 20px;

            &:first-child {
                margin-right: 0;
            }

            &:last-child {
                margin-left: 0;
            }
        }
    }
}
