// Header

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 15px;

    &-logo {

        &__img {
            max-width: 100%;
        }
    }

    &-address {
        text-align: right;

        &__item {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-search {
        display: flex;
        align-items: center;

        &__label {
            display: none;
        }

        &__input {
            max-width: 200px;
            padding: 6px 10px;
            color: $text;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba($text, 0.5);
            transition: border-color .15s ease-in-out;

            &::-webkit-input-placeholder {
                color: #A19A91;
                text-overflow: ellipsis;
                transition: color .15s ease-in-out;
            }
            &::-moz-placeholder {
                color: #A19A91;
                text-overflow: ellipsis;
                transition: color .15s ease-in-out;
            }
            &:-moz-placeholder {
                color: #A19A91;
                text-overflow: ellipsis;
                transition: color .15s ease-in-out;
            }
            &:-ms-input-placeholder {
                color: #A19A91;
                text-overflow: ellipsis;
                transition: color .15s ease-in-out;
            }
            &:focus {
                &::-webkit-input-placeholder {
                    color: transparent
                }
                &::-moz-placeholder {
                    color: transparent
                }
                &:-moz-placeholder {
                    color: transparent
                }
                &:-ms-input-placeholder {
                    color: transparent
                }
            }
        }

        &__btn {
            width: 32px;
            height: 30px;
            background-color: $text;
            background-image: url('../img/search-24px.svg');
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            padding: 0;
            transition: background-color .15s ease-in-out;

            &:hover,
            &:active,
            &:focus {
                background-color: $text-dark;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {

        &-search {

            &__input {
                max-width: 150px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        flex-wrap: wrap;
        align-items: flex-start;

        &-address {
            flex-basis: 70%;
            margin-top: 15px;
        }

        &-search {
            margin-left: auto;
            margin-top: -30px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        padding-top: 25px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &-address {
            text-align: center;
        }

        &-search {
            margin: 15px 0 0;

            &__input {
                max-width: 250px;
            }
        }
    }
}
