// Header

.header {
    margin-bottom: 15px;

    &-logo {
        margin-top: 10px;

        &__link {
            display: block;
        }
    }

    &-address {
        text-align: right;
        margin: 0 0 10px 0;
    }

    &-search-form {
        text-align: right;

        .form-control {
            max-width: 200px;
            &::-webkit-input-placeholder {
                color: #A19A91;
                text-overflow: ellipsis;
            }
            &::-moz-placeholder {
                color: #A19A91;
                text-overflow: ellipsis;
            }
            &:-moz-placeholder {
                color: #A19A91;
                text-overflow: ellipsis;
            }
            &:-ms-input-placeholder {
                color: #A19A91;
                text-overflow: ellipsis;
            }
            &:focus {
                &::-webkit-input-placeholder {
                    color: transparent
                }
                &::-moz-placeholder {
                    color: transparent
                }
                &:-moz-placeholder {
                    color: transparent
                }
                &:-ms-input-placeholder {
                    color: transparent
                }
            }
        }
    }
}
