// Navigation

.nav-mobile {
    display: none;
    align-items: center;
    padding: 10px;
    margin: 5px 0 15px;
    background-color: $text;
    cursor: pointer;
    transition: background-color .15s ease-in-out;

    &:hover {
        background-color: $text-dark;
    }

    &__hamburger {
        width: 18px;
        height: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__line {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }

    &__text {
        color: #ffffff;
        font-weight: 700;
        margin-left: 8px;
        line-height: 1;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: $bg-light;
    position: relative;
    z-index: 1;

    &__item {
        position: relative;
        flex-grow: 1;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 26px 0;
        font-size: 13px;
        color: $text-light;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__sublist {
        position: absolute;
        top: 70px;
        left: 0;
        width: auto;
        display: none;
        list-style: none;
        padding: 0;
        background: $bg-blue;
        border-bottom: 1px solid $link-color;
    }

    &__subitem {
        line-height: 2.1;
    }

    &__sublink {
        display: block;
        padding: 3px 15px;
        color: #ffffff;
        line-height: 2;
        text-transform: none;
        text-decoration: none;
        white-space: nowrap;
    }
}

@media (min-width: 992px) {
    .nav {
        $this: &;
        &__link {
            &:hover {
                background: $link-color;
                color: #ffffff;
            }
            #{$this}__item.active &,
            #{$this}__item:hover & {
                background: $link-color;
                color: #ffffff;
            }
        }

        &__sublist {
            #{$this}__item:hover & {
                display: block;
            }
        }

        &__sublink {
            &:hover {
                color: $text-light;
                background: #ffffff;
            }
        }
    }
}

@media (max-width: 991px) {
    .nav-mobile {
        display: inline-flex;
    }

    .nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        z-index: 2;
        overflow: auto;
        transform: translateX(-100%);
        transition: transform 300ms;

        &.show {
            transform: translateX(0);
        }

        $this: &;

        &__item {
            display: block;

            &.active #{$this}__sublist {
                height: 100%;
            }

            &.active #{$this}__link {
                background: $link-color;
                color: #ffffff;
            }
        }

        &__link {
            justify-content: flex-start;
            padding: 12px 30px 12px 12px;
            position: relative;

            #{$this}__item.has-child & {
                &::after {
                    content: '';
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-top: 4px solid $text-light;
                    border-right: 4px solid transparent;
                    border-bottom: 0;
                    border-left: 4px solid transparent;
                }
            }

            #{$this}__item.has-child.active & {
                &::after {
                    border-top: 6px solid #ffffff;
                    transform: rotateX(180deg) translateY(50%);
                }
            }

            &:hover {
                color: $text-light;
            }
        }

        &__sublist {
            position: relative;
            top: 0;
            display: block;
            height: 0;
            overflow: hidden;
            border: none;

            &.show {
                height: 100%;
            }
        }
    }
}

.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);

    &.show {
        opacity: 1;
        z-index: 1;
    }
}

@media (max-width: 575px) {
    .nav-mobile {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .nav {
        max-width: 300px;
    }
}
