// Navigation

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: $bg-light;
    position: relative;
    z-index: 1;

    $this: &;

    &__item {
        position: relative;
        flex-grow: 1;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 26px 0;
        font-size: 13px;
        color: $text-light;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background: $link-color;
            color: #ffffff;
        }

        #{$this}__item.active &,
        #{$this}__item:hover & {
            background: $link-color;
            color: #ffffff;
        }
    }

    &__sublist {
        position: absolute;
        top: 70px;
        left: 0;
        width: auto;
        display: none;
        list-style: none;
        padding: 0;
        background: $bg-blue;
        border-bottom: 1px solid $link-color;

        #{$this}__item:hover & {
            display: block;
        }
    }

    &__subitem {
        line-height: 2.1;
    }

    &__sublink {
        display: block;
        padding: 3px 15px;
        color: #ffffff;
        line-height: 2;
        text-transform: none;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            color: $text-light;
            background: #ffffff;
        }
    }
}
