// Page

.content {
    background-image: url(../img/c2-bg.jpg);
    padding: 25px 0;
    flex: 1 0 auto;
}

.main {
    padding-bottom: 50px;
}

.page-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px #666666;
    margin: 0 0 25px 0;

    span {
        display: inline-block;
        padding: 2px 10px;
        background: $link-color;
        letter-spacing: 0.2px;
    }
}

// Typo for dynamic content
.page-content {
    p {
        margin-bottom: 10px;

        &.justifyfull {
            text-align: justify;
        }
    }

    b {
        font-weight: 700;
    }

    li {
        line-height: 1.5;
        margin: 3px 0;
    }

    ul {
        list-style: disc;
        padding-left: 25px;
        margin-bottom: 10px;

        &.pageList {
            list-style: none;
            padding: 0;

            li {
                margin: 10px 0;
            }
        }
    }

    ol {
        list-style: decimal;
        padding-left: 25px;
        margin-bottom: 10px;

        &.pagePub {
            li {
                a {
                    color: #828282;
                }
            }
        }
    }

    dl {
        color: #828282;
        line-height: 1.2;
        margin: 10px 0;
    }

    dd {
        padding-left: 30px;
    }

    table {
        border: 1px dotted #999;
        border-collapse: collapse;
        margin: 5px auto;
        width: auto;

        $table: &;

        &.withoutBorder {
            border: none;
        }

        tr {
            border: 1px dotted #999;
            border-collapse: collapse;

            #{$table}.withoutBorder & {
                border: none;
            }

            td {
                padding: 5px 10px;
                border: 1px dotted #999;
                vertical-align: middle;

                #{$table}.withoutBorder & {
                    border: none;
                }
            }
        }

        &.justifyleft {
            margin-left: 0;
        }
    }
}

.border {
    border: 1px solid #919191;
    width: 540px;
    margin: 5px auto;
    padding: 10px;
}

// Pagination
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px 0 10px;

    &__item {
        padding: 8px 12px;
        color: $text;
        line-height: 1.25;
        text-decoration: none;
        background-color: #fff;
        transition: all 150ms ease-in-out;

        &:hover {
            background-color: $text;
            color: #ffffff;
        }

        &.active {
            background-color: $text;
            color: #ffffff;
        }
    }
}

// Partners
.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.partner {
    width: 180px;
    height: 180px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &__logo {
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #ccc;
        min-height: 0;
    }

    &__name {
        margin-top: 5px;
    }
}

@media (max-width: 767px) {
    .partners {
        flex-direction: column;
        justify-content: flex-start;
    }

    .partner {
        flex: 0 0 30%;
        margin: 10px 0;
    }
}
