// Variables

$text: #635240;
$text-light: #917758;
$text-dark: #3a2f23;

$bg-light: #f1eeea;
$bg-blue: #2296C1;

$link-color: #32aad6;
$link-hover-color: rgba($link-color, 0.7);

$footer-link: #917758;
$footer-text: #A19A91;
