// Welcome

.welcome-image {
    height: 280px;
}

.big-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 280px;
    padding-top: 15px;
    padding-right: 15px;
    background-image: url(../img/slide-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    h4 {
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 26px;
        font-weight: normal;
        line-height: 1.5;
        text-transform: uppercase;
        text-shadow: #333 1px 1px;
        padding: 5px 15px;
        background: rgba(50, 170, 214, 0.6);
    }
}
