// Reset
@import "reset.css";

@import "vars";
@import "typo";

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: $text;

    &.nav-open {
        //position: fixed;
        overflow: hidden;
    }
}

* {
    box-sizing: border-box;
}

.site-grid {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@import "header";
@import "navi";
@import "welcome";
@import "page";
@import "aside";
@import "footer";
