<aside class="aside">
    <div class="aside-item">
        <h3 class="aside-item__title">Новости</h3>
        <div class="news">
            <p class="news__date">27.01.2014</p>
            <a href="#" class="news__title">О введении в действие изменений в Налоговом кодексе по вопросам транспорта</a>
            <p class="news__short">Законом РК от 4 июля 2013 года № 132-V были внесены изменения и дополнения в некоторые законодательные акты...</p>
            <!--<a href="#" class="news__more">Подробнее</a>-->
        </div>
        <div class="news">
            <p class="news__date">27.01.2014</p>
            <a href="#" class="news__title">О порядке исчисления, удержания (начисления) и перечисления ОППВ с 1 января 2014 года</a>
            <p class="news__short">С 1 января 2014 года агенты, использующие труд работников, профессии которых предусмотрены перечнем...</p>
            <!--<a href="#" class="news__more">Подробнее</a>-->
        </div>
        <div class="news">
            <p class="news__date">14.01.2014</p>
            <a href="#" class="news__title">POS-терминалы: В Казахстане предложили освободить от их установки некоторых бизнесменов</a>
            <p class="news__short">Национальная палата предпринимателей настаивает на расширении перечня предпринимателей, для которых не ...</p>
            <!--<a href="#" class="news__more">Подробнее</a>-->
        </div>
    </div>
    <div class="aside-item">
        <h3 class="aside-item__title">Спецпредложения</h3>
        <div class="news news--offer">
            <a href="#" class="news__title">Подготовка к сдаче экзамена по курсу ДипИФР</a>
            <p class="news__short">Учебный центр ТОО «ЭСТ аудит» приглашает Вас пройти эффективный курс подготовки к сдаче экзамена по курсу ДипИФР...</p>
            <!--<a href="#" class="news__more">подробнее...</a>-->
        </div>
    </div>
</aside>
