<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="footer-left">
                    <a href="#">Обратная связь</a>
                    <p>© <span id="year">2011</span>, ТОО "Э.С.Т. аудит"</p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="footer-nav">
                            <li>
                                <a href="#" title="Главная">Главная</a>
                            </li>
                            <li>
                                <a href="#" title="О компании">О компании</a>
                            </li>
                            <li>
                                <a href="#" title="Новости">Новости</a>
                            </li>
                            <li>
                                <a href="#" title="Услуги">Услуги</a>
                            </li>
                            <li>
                                <a href="#" title="Обучение">Обучение</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="footer-nav">
                            <li>
                                <a href="#" title="Публикации">Публикации</a>
                            </li>
                            <li>
                                <a href="#" title="Партнеры">Партнеры</a>
                            </li>
                            <li>
                                <a href="#" title="Разъяснения специалистов">Разъяснения специалистов</a>
                            </li>
                            <li>
                                <a href="#" title="Контакты">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footer-right">
                    <p>г.Алматы, ул.Байтурсынова 85 (уг.ул. Джамбула)</p>
                    <p>Тел:+7 (727) 292-15-15 / Факс:+7 (727) 292-97-92</p>
                    <p>
                        <a href="#">Контактная информация</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
