<header class="header">
    <a class="header__logo" href="/" title="Аудиторская компания ЭСТ- аудит">
        <img src="img/logo.png" alt="Аудиторская компания ЭСТ- аудит">
    </a>
    <div class="header__info">
        <p>г.Алматы, ул.Байтурсынова 85 (уг.ул. Джамбула)</p>
        <p>Тел: +7 (727) 292-15-15 / Факс: +7 (727) 292-97-92</p>
        <p><a href="feedback.html">Обратная связь</a></p>
    </div>
    <div class="header__search">
        <form id="ajaxSearch_form" action="search-results.html" method="post">
            <input type="hidden" name="advsearch" value="oneword">
            <input id="ajaxSearch_input" class="cleardefault" type="text" name="search" placeholder="Поиск...">
            <input id="ajaxSearch_submit" type="submit" name="sub" value="Искать">
        </form>
    </div>
</header>

