<div class="container">
    <header class="header">
        <a href="index.html" class="header-logo">
            <img class="header-logo__img" src="img/logo.png" alt="Аудиторская компания ЭСТ- аудит">
        </a>
        <div class="header-address">
            <p class="header-address__item">г.Алматы, ул.Байтурсынова 85 (уг.ул. Джамбула)</p>
            <p class="header-address__item">Тел: +7 (727) 292-15-15 / Факс: +7 (727) 292-97-92</p>
            <p class="header-address__item">
                <a class="header-address__link" href="feedback.html">Обратная связь</a>
            </p>
        </div>
        <form action="#" class="header-search">
            <label class="header-search__label" for="headerSearch"></label>
            <input type="search" class="header-search__input" id="headerSearch" name="search" placeholder="Поиск...">
            <button class="header-search__btn" type="submit"></button>
        </form>
    </header>
</div>
