<div class="container">
    <ul class="nav">
        <li class="nav__item active">
            <a class="nav__link" href="#" title="Главная">Главная</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="О компании">О компании</a>
            <ul class="nav__sublist">
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Нормативные документы">Нормативные документы</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Кодекс профессиональной этики">Кодекс профессиональной этики</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Руководство">Руководство</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="Новости">Новости</a>
            <ul class="nav__sublist">
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Акции">Акции</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Спецпредложения">Спецпредложения</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="Услуги">Услуги</a>
            <ul class="nav__sublist">
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Аудит финансовой отчетности">Аудит финансовой отчетности</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Налоговый аудит">Налоговый аудит</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Согласованные процедуры">Согласованные процедуры</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Внутренний аудит">Внутренний аудит</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Бухгалтерские услуги">Бухгалтерские услуги</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Консультации по налогообложению">Консультации по налогообложению</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Консультации по финансовому учету">Консультации по финансовому учету</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Консультации по упрощенному учету">Консультации по упрощенному учету</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Разработка нормативных документов">Разработка нормативных документов</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Формирование годовой финансовой и налоговой отчетности">Формирование отчетности</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="Обучение">Обучение</a>
            <ul class="nav__sublist">
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="DipIFR">DipIFR</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="CAP | CIPA">CAP | CIPA</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Применение МСФО на практике">Применение МСФО на практике</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Курсы института &quot;Аскери&quot; (г.Москва)">Курсы института "Аскери" (г.Москва)</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Аудит">Аудит</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="Договор на обучение">Договор на обучение</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="Публикации">Публикации</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="Партнеры">Партнеры</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="Разъяснения специалистов">Разъяснения специалистов</a>
            <ul class="nav__sublist">
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="по МСФО">по МСФО</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="по Налоговому законодательству">по Налоговому законодательству</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="по Гражданскому законодательству">по Гражданскому законодательству</a>
                </li>
                <li class="nav__subitem">
                    <a class="nav__sublink" href="#" title="прочие">прочие</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#" title="Контакты">Контакты</a>
        </li>
    </ul>
</div>
